@import "mobile";

html {
  zoom: 150%;
  transform: scale(1.5);
  transform-origin: top left;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #ff9800 !important;
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: #8D2220 !important;
}
