name: Zola on GitHub Pages

on:
  push:
    branches:
      - main

concurrency: preview-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build only
        if: github.event.action != 'closed'
        uses: shalzz/zola-deploy-action@v0.22.1
        env:
          BUILD_DIR: .
          BUILD_ONLY: true
          BUILD_FLAGS: --drafts --base-url https://ygndotgg.github.io/pr-preview/pr-${{ github.event.number }}/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./public/

  build_and_deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Zola
        uses: shalzz/zola-deploy-action@v0.22.1
        env:
          BUILD_DIR: .
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
